# ALGORITHM

### Train_test_Split

In [1]:

import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("titanic")

In [3]:
df2 = df[["survived",'pclass','age','parch']]
df3 =df2.fillna(df2.mean())
df3

# X(Independant variable) = matrics(pclass And age colunm)  me 
# y(Independant variable) =  Vector(survived column) me store karana he

     survived  pclass        age  parch
0           0       3  22.000000      0
1           1       1  38.000000      0
2           1       3  26.000000      0
3           1       1  35.000000      0
4           0       3  35.000000      0
..        ...     ...        ...    ...
886         0       2  27.000000      0
887         1       1  19.000000      0
888         0       3  29.699118      2
889         1       1  26.000000      0
890         0       3  32.000000      0

[891 rows x 4 columns]

In [4]:
X = df3.drop('survived',axis=1)
y = df3['survived']

print("shape of X =", X.shape)
print("shape of y =", y.shape)

shape of X = (891, 3)
shape of y = (891,)

In [5]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

print("shape of X_train = ",X_train.shape)
print("shape of y_train = ",y_train.shape)
print("shape of X_test  = ", X_test.shape)
print("shape of y_test  = ",y_test.shape)

shape of X_train =  (712, 3)
shape of y_train =  (712,)
shape of X_test  =  (179, 3)
shape of y_test  =  (179,)