# ALGORITHM

### Train_test_Split

In [1]:

import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("titanic")

In [3]:
df2 = df[["survived",'pclass','age','parch']]
df3 =df2.fillna(df2.mean())
df3

# X(Independant variable) = matrics(pclass And age colunm)  me 
# y(Independant variable) =  Vector(survived column) me store karana he

     survived  pclass        age  parch
0           0       3  22.000000      0
1           1       1  38.000000      0
2           1       3  26.000000      0
3           1       1  35.000000      0
4           0       3  35.000000      0
..        ...     ...        ...    ...
886         0       2  27.000000      0
887         1       1  19.000000      0
888         0       3  29.699118      2
889         1       1  26.000000      0
890         0       3  32.000000      0

[891 rows x 4 columns]

In [4]:
X = df3.drop('survived',axis=1)
y = df3['survived']

print("shape of X =", X.shape)
print("shape of y =", y.shape)

shape of X = (891, 3)
shape of y = (891,)

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_test = train_test_split(X,y,test_size=0.2)

print("shape of X_rai = ",x-train)
print("shape of X_rai = ",y_rain
print("shape of X-train  ",x-train)
print("shape of X_rain= ",y_train)

[     pclass        age  parch
 756       3  28.000000      0
 468       3  29.699118      0
 775       3  18.000000      0
 111       3  14.500000      0
 2         3  26.000000      0
 ..      ...        ...    ...
 740       1  29.699118      0
 559       3  36.000000      0
 837       3  29.699118      0
 16        3   2.000000      1
 658       2  23.000000      0

 [712 rows x 3 columns],
      pclass        age  parch
 319       1  40.000000      1
 425       3  29.699118      0
 24        3   8.000000      1
 414       3  44.000000      0
 98        2  34.000000      1
 ..      ...        ...    ...
 309       1  30.000000      0
 798       3  30.000000      0
 705       2  39.000000      0
 523       1  44.000000      1
 801       2  31.000000      1

 [179 rows x 3 columns],
 756    0
 468    0
 775    0
 111    0
 2      1
       ..
 740    1
 559    1
 837    0
 16     0
 658    0
 Name: survived, Length: 712, dtype: int64,
 319    1
 425    0
 24     0
 414    1
 98     1
       ..
 309    1
 798    0
 705    0
 523    1
 801    1
 Name: survived, Length: 179, dtype: int64]