In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
df[df['species']!='setosa']

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
df['species']=df['species'].map({'versicolor':0,'virginica':1})

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2      NaN
1           4.9          3.0           1.4          0.2      NaN
2           4.7          3.2           1.3          0.2      NaN
3           4.6          3.1           1.5          0.2      NaN
4           5.0          3.6           1.4          0.2      NaN

In [9]:
### split dataset into independant and dependant feature
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [10]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [11]:
y

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
145    1.0
146    1.0
147    1.0
148    1.0
149    1.0
Name: species, Length: 150, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(   
    x, y, test_size=0.25, random_state=42)

In [13]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()

In [14]:
from sklearn.model_selection import GridSearchCV
parameter={'penalty':['l1','l2','elesticnet'],'C':[1,2,3,4,5,6,10,20,30,40,50],'max_iter':[100,200,300]}

In [15]:
classifier_regressor=GridSearchCV(classifier,param_grid=parameter,scoring='accuracy',cv=5)

In [16]:
import numpy as np
nan_indices = np.isnan(y_train)
print("Number of NaN values in y_train:", np.sum(nan_indices))

Number of NaN values in y_train: 35

In [17]:
X_train = X_train[~nan_indices]
y_train = y_train[~nan_indices]

In [18]:
y_train = np.where(nan_indices, np.nanmean(y_train),y_train)

ValueError: operands could not be broadcast together with shapes (112,) () (77,)

In [ ]:
classifier_regressor.fit(X_train,y_train)

In [ ]:
print(classifier_regressor.best_params_)

In [ ]:
print(classifier_regressor.best_score_)

In [ ]:
### prediction
y_pred=classifier_regressor.predict(X_test)

In [ ]:
### accuracy score 
from sklearn.metrics import accuracy_score,classification_report

In [ ]:
score=accuracy_score(y_pred,y_test)
print(score)